img {
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;
}

video {
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;
}

details {
  padding: 10px;
  border-radius: 5px;
}

details img {
  border-radius: 30px;
  padding: 20px;
  box-sizing: border-box;
}

html[data-scheme="light"] details {
  background-color: #e4eaef;
}

html[data-scheme="dark"] details {
  background-color: #323335;
}